@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import "tailwindcss";

@layer base {
    body {
        font-family: "Poller One", serif;
        background-image: url("./assets/sky.jpg");
        color: #eedb00;
        background-attachment: fixed;
    }
}

@theme{
    --color-grey-color: rgba(60, 69, 67, 0.6);
}


